<h2>Bookings</h2>

<div class="row" id='content'>
<div *ngFor="let b of booking; index as bookingId">
  <div class="card" style="width: 20rem;" id='bookingCard'>
    <img src="{{ b.img }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <a [routerLink]="['/travel', bookingId]">
        {{ b.name }}</a>
      </h5>
      <p class="card-text" *ngIf="b.description">Description: {{ b.description }}</p>
      <a href="#" class="btn btn-primary">Purchase</a>
    </div>
  </div>
</div>
</div>

